# fly.toml app configuration file for hunthub-api
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'hunthub-api'
primary_region = 'ams'

[build]
  dockerfile = 'apps/backend/api/Dockerfile'
  ignorefile = 'apps/backend/api/.dockerignore'

[env]
  LOG_LEVEL = 'info'
  NODE_ENV = 'production'
  PORT = '3000'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 1

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 250
    soft_limit = 200

[checks]
  [checks.health]
    port = 3000
    type = 'http'
    interval = '30s'
    timeout = '5s'
    path = '/health'

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
